<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140092109696-asq3p2ojod0enj1shkqj3hv6bsgnndao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140092109696-asq3p2ojod0enj1shkqj3hv6bsgnndao</string>
	<key>API_KEY</key>
	<string>AIzaSyANCGeXJTGsVRowUHRngZd5ktEIP_YA38U</string>
	<key>GCM_SENDER_ID</key>
	<string>140092109696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IceCreamLoaf.Comeet</string>
	<key>PROJECT_ID</key>
	<string>comeet-ad75c</string>
	<key>STORAGE_BUCKET</key>
	<string>comeet-ad75c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140092109696:ios:d3b966aa6e11377a468765</string>
	<key>DATABASE_URL</key>
	<string>https://comeet-ad75c.firebaseio.com</string>
</dict>
</plist>